body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.screen {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 200px;
}

#timer {
    font-size: 18px;
    margin-top: 20px;
}

#player-list,
#vote-player-list {
    list-style-type: none;
    padding: 0;
}

#player-list li,
#vote-player-list li {
    margin: 5px 0;
}

#vote-player-list li {
    cursor: pointer;
}

#vote-player-list li.selected {
    background-color: #ddd;
}
